.title {
  font-family: 'Karla';
  letter-spacing: 0.08em;
  font-size: 1.5vw;
  color: dimgrey;
  text-transform: uppercase;
  text-align: center;
}

hr {
  width: 6%;
  border: none;
  border-top: 1px solid dimgray;
  align-content: center;
  margin-top: -20px;
}
.org{
  display: flex;
  width: 700px;
margin-left: 200px;

}

h2:hover{
  color: black;
}

.container {
  width: 400px;
}

h3{
  font-family: 'Karla';
}

li {
  position: relative;
  list-style: none;
  margin: 30px 0;
  font-family: 'Karla';
  letter-spacing: 0.04em;
}
li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 6px;
  background-color:#F1F1F1;
  border-radius: 100px;
}
li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 6px;
  border-radius: 100px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


li.html:after {
  animation-name: html;
}
@keyframes html {
  to {
    width: 90%;
    background-color: #3A45FB;
  }
}


li.java:after {
  animation-name: java;
}
@keyframes java {
  to {
    width: 90%;
    background-color: #A76DD4 ;
  }
}

li.python:after {
  animation-name: python;
}
@keyframes python {
  to {
    width: 75%;
    background-color: #3ABCFB ;
  }
}

li.scala:after {
  animation-name: scala;
}
@keyframes scala {
  to {
    width: 60%;
    background-color: #147DB0 ;
  }
}

li.angular:after {
  animation-name: angular;
}
@keyframes angular {
  to {
    width: 75%;
    background-color: #E92937 ;
  }
}

li.reactjs:after {
  animation-name: reactjs;
}
@keyframes reactjs {
  to {
    width: 65%;
    background-color: #65D3FB ;
  }
}

li.nodejs:after {
  animation-name: nodejs;
}
@keyframes nodejs {
  to {
    width: 60%;
    background-color: #38C048 ;
  }
}

li.sql:after {
  animation-name: sql;
}
@keyframes sql {
  to {
    width: 85%;
    background-color:#EF3F9C ;
  }
}
@media screen and (max-width: 600px) {

  hr {
    width: 15%;
  }
}


