<h2 class="title">Skills</h2>
<hr>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="81%" fxFlex.xs="70%" fxFlex.sm="40%">
    <div class="org">
      <div class="container">
        <ul>
          <li class="java">
            <h3>Java </h3>
          </li>
          <li class="python">
            <h3>Python </h3>
          </li>
          <li class="scala">
            <h3>Scala </h3>
          </li>
          <li class="html">
            <h3>HTML5, CSS3, JavaScript</h3>
          </li>
        </ul>
      </div>
      <div class="container">
        <ul>
          <li class="angular">
            <h3>Angular (7, 8, 9) </h3>
          </li>
          <li class="reactjs">
            <h3>React JS </h3>
          </li>
          <li class="nodejs">
            <h3>Node JS </h3>
          </li>
          <li class="sql">
            <h3>MYSQL5, MongoDB, Firebase</h3>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
