<mat-toolbar>

  <mat-toolbar-row>
    <span class="spacer"></span>
    <a class="firstHyperLink" target="_blank" href="https://www.linkedin.com/in/soufien-j-357514163/"><img
        src="\assets\icons8-linkedin-2-16.png" alt="LinkedIn"></a>
    <a class="firstHyperLink" target="_blank" href="https://gitlab.com/soufienjabeur"><img
        src="\assets\icons8-gitlab-16.png" alt="Gitlab"></a>
    <a class="firstHyperLink" target="_blank" href="https://twitter.com/Soufien_Jabeur"><img
        src="\assets\icons8-twitter-16.png" alt="Twitter"></a>
    <a class="firstHyperLink" target="_blank" href="https://www.instagram.com/soufianjabeur/"><img
        src="\assets\icons8-instagram-16.png" alt="Instgram"></a>

    <a class="firstHyperLink" target="_blank" href="https://www.youtube.com/channel/UCHeZP8ZKJWUNEeDXL2wjYIQ"><img
        src="\assets\icons8-youtube-16.png" alt="YouTube"></a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>
      <img src="\assets\LogoMakr_83NEFd.png" class="logo" routerLink="home">
    </span>
    <span class="spacer"></span>
    <a class="secondHyperLink" mat-button routerLink="about">About me</a>
    <a class="secondHyperLink" mat-button> IT Articles </a>
    <a class="secondHyperLink" mat-button routerLink="contactus">Contact</a>
  </mat-toolbar-row>

</mat-toolbar>

