.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: white;
  opacity: 0.78;
}

.firstHyperLink {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
}

hr {
  width: 6%;
  color: black;
  border: none;
  border-top: 1px solid #333;
  margin-top: 35px;
  margin-left: -100px;
}

a {
  font-family: 'Karla';
  letter-spacing: 0.06em;
}

.secondHyperLink:hover {
  background-color: gold;
}

.logo {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  outline: none;
}
