<mat-toolbar>
  <mat-toolbar-row>
    <img src="\assets\LogoMakr_1meZjh.png" class="logo" routerLink="home">
    <span class="spacer"></span>
    <a class="firstHyperLink" target="_blank" href="https://www.linkedin.com/in/soufien-j-357514163/"><img
        src="\assets\linkedin.png" alt="LinkedIn"></a>
    <a class="firstHyperLink" target="_blank" href="https://gitlab.com/soufienjabeur"><img src="\assets\gitlab.png"
        alt="Gitlab"></a>
    <a class="firstHyperLink" target="_blank" href="https://twitter.com/Soufien_Jabeur"><img src="\assets\twitter.png"
        alt="Twitter"></a>
    <a class="firstHyperLink" target="_blank" href="https://www.instagram.com/soufianjabeur/"><img
        src="\assets\instagram.png" alt="Instgram"></a>
    <a class="firstHyperLink" target="_blank" href="https://www.youtube.com/channel/UCHeZP8ZKJWUNEeDXL2wjYIQ"><img
        src="\assets\icons8-youtube-black-16.png" alt="YouTube"></a>
  </mat-toolbar-row>
</mat-toolbar>
