.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: black;
  bottom: 0;
  opacity: 0.9;


}

.firstHyperLink {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
}


a {
  font-family: 'Karla';
  letter-spacing: 0.06em;
}

.logo {
  cursor: pointer;
}
