<h2 class="title">PROFESSIONAL EXPERIENCE</h2>
<hr>
<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="81%" fxFlex.xs="70%" fxFlex.sm="40%">
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let experience of experiences">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ experience.startingDate|date }} - {{experience.endingDate|date}}:
            {{experience.entrepriseName}} -
            {{experience.postName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="experience.subject">
          <h2 class="sublistTitle">Internship subject: </h2>
          <h3>{{experience.subject}}</h3>
        </div>
        <div>
          <h2 class="sublistTitle">Completed tasks: </h2>
          <span *ngFor="let task of experience.tasks">
            <h3>
              <li>{{task}}</li>
            </h3>
          </span>
        </div>
        <div>
          <h2 class="sublistTitle">Technical environment: </h2>
          <h3>{{experience.technologiesUsed}}</h3>
        </div>
        <div *ngIf="experience.link">
          <a [href]=experience.link target="_blank">visit</a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
