.title {
  font-family: 'Karla';
  letter-spacing: 0.08em;
  font-size: 1.5vw;
  color: dimgrey;
  text-transform: uppercase;
  text-align: center;
}

.item {
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  display: inline;
  color: black;
  max-width: 300px;
  overflow-wrap: break-all;
  font-family: 'Karla';

}

.sublistTitle {
  margin-bottom: -20px;
  color: black;
  font-weight: normal;
  font-size: 18px;
  display: inline;
  font-family: 'Karla';
  letter-spacing: 0.04em;
}

h2:hover {
  color: black;
}

hr {
  width: 25%;
  border: none;
  border-top: 1px solid dimgray;
  align-content: center;
  margin-top: -20px;
  margin-bottom: 40px;

}

mat-panel-title {
  font-family: 'Karla';
  letter-spacing: 0.04em;
}



mat-expansion-panel {
  max-width: 700px;
  opacity: 0.9;



}

@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }

  hr {
    width: 65%;
  }
}
