.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 100px;
}

p {
  text-align: justify;
  font-family: 'Karla';
  letter-spacing: 0.04em;
  font-size: 1.2vw;
  line-height: 1.6;

}

.text-container {
  max-width: 450px;
  margin-top: 200px;
}

mat-card {
  font-family: 'Karla';
  letter-spacing: 0.04em;
  font-size: 3.3vw;
  text-align: justify;
  opacity: 0.87;
  max-width: 700px;
}

/*
img {
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -60px;
  width: 175px;
  height: 175px;
  background-size: contain;
  border-radius: 50%;
}*/
.img-container {
  width: 600px;
  height: 600px;
  opacity:0.87;
}


mat-card-content {
  margin-top: 110px;

}
