<div class="about-container">
  <div class="img-container">
    <!-- <mat-card>
      <img src="\assets\me.png" alt="Soufien Jabeur">
      <mat-card-content>
        <strong>Hi! I'm Soufien Jabeur.</strong> Currently, I am a Full Stack developer, data scientist and Freelancer.
        I have expertise
        with Angular (7, 8 and 9), React JS, Node JS, J2EE, HTML5/CCS3,
        AI, Machine Learning, Deep Learning, Python, R, Java, C/C++ etc ... Lover of innovation,
        challenges, and everything that makes me better to reach my big dream.
        Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I
        do. <strong>Rise To The Top</strong>
      </mat-card-content>
    </mat-card>-->

    <img src="\assets\me.png" alt="me"/>
  </div>
  <div class="text-container">
    <p><strong>Hi! I'm Soufien Jabeur.</strong> Currently, I am a Full Stack developer, data scientist and Freelancer.
      I have expertise
      with Angular (7, 8 and 9), React JS, Node JS, J2EE, HTML5/CCS3,
      AI, Machine Learning, Deep Learning, Python, R, Java, C/C++ etc ... Lover of innovation,
      challenges, and everything that makes me better to reach my big dream.
      Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I
      do. <strong>Rise To The Top</strong></p>
  </div>
</div>
