* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


h1 {
  margin-top: 80px;
  margin-bottom: 50px;
  color: silver;
  font-size: 500%;
  font-style: normal;
  text-align: center;

}

.form-container {
  width: 970px;
  height: 600px;
  background-color: black;
  opacity: 0.88;
  margin-bottom: 200px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 200px;

}

form {
  text-align: center;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  margin-left: 20px;

}

tr {
  display: block;
}

input {
  width: 270px;
  height: 40px;
  outline: none;
  font-family: 'Karla';
  padding: 22px 16px;
  margin-bottom: 15%;
  border-radius: 7px;
  font-size: 14px;
  border: 1px solid transparent;
  margin-right: 20px;



}

textarea {
  width: 570px;
  height: 200px;
  font-family: 'Karla';
  padding: 22px 16px;
  margin-bottom: 10%;
  border-radius: 7px;
  outline: none;
  font-size: 14px;
  border: 1px solid transparent;
  overflow: auto;
  border-color: transparent;

}

.btn {
  position: relative;
  float: left;
  background-color: #ff8700;
  cursor: pointer;
  padding: 14px 36px;
  color: white;
  font-size: 16px;
  border: 1px transparent solid;
  border-radius: 4px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Karla';
}

p {
  color: white;
  font-size: 16px;
  line-height: 2px;
  padding-bottom: 10px;
  font-family: 'Karla';
  text-align: left;
}

.fas {
  color: white;
  width: 50px;
}

.far {
  color: white;
  width: 50px;
}

.contact-info {
  margin-left: 20px;
  padding-top: 10px;
}

h4 {
  color: white;
  padding-left: 5px;
  font-weight: 500px;
  line-height: 1.2px;
  font-size: 1.2rem;
  font-family: 'Karla';
}

.fab {
  color: white;
  padding-left: 25px;

}
.tr-contact-info
{
  margin-bottom: 50px;
}
