<div class="container">
  <h1>GET IN TOUCH</h1>

  <div class="form-container">
    <div>
      <form (submit)="sendMail($event)">
        <table>
          <tr>
            <td>
              <input type="text" placeholder="Name" name="from_name">
            </td>
            <td>
              <input type="email" placeholder="Email" name="from_email">
            </td>
          </tr>
          <tr>
            <td><input type="text" placeholder="Subject" name="subject"></td>
          </tr>
          <tr>
            <td>
              <textarea placeholder="Message" name="message_html"></textarea>
            </td>

          </tr>
        </table>
        <button type="submit" class="btn">SEND MESSAGE</button>
      </form>
    </div>

    <div class="contact-info">
      <table>
        <tr class="tr-contact-info">
          <td>
            <i class="fas fa-phone-alt"></i>
          </td>
          <td>
            <p>Call :</p>
            <p>+33 7 53 10 04 43</p>
          </td>
        </tr>
        <tr class="tr-contact-info">
          <td>
            <i class="far fa-envelope"></i>
          </td>
          <td>
            <p>Email :</p>
            <p>jabeursoufian1993@gmail.com</p>
          </td>
        </tr>
        <tr class="tr-contact-info">
          <td>
            <i class="fas fa-map-marker-alt"></i>
          </td>
          <td>
            <p>Location :</p>
            <p>07 rue Danville, Paris</p>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Follow</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://www.linkedin.com/in/soufien-j-357514163/" alt="LinkedIn"><i
                class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="https://gitlab.com/soufienjabeur" alt="Gitlab"><i class="fab fa-gitlab"></i></a>
            <a target="_blank" href="https://twitter.com/Soufien_Jabeur" alt="Twitter"><i
                class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/soufianjabeur/" alt="Instagram"><i
                class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCHeZP8ZKJWUNEeDXL2wjYIQ" alt="YouTube"><i
                class="fab fa-youtube"></i></a>







          </td>
        </tr>
      </table>
    </div>

  </div>


</div>
