.title {
  font-family: 'Karla';
  letter-spacing: 0.08em;
  font-size: 1.5vw;
  color: dimgrey;
  text-transform: uppercase;
  text-align: center;
}

h2:hover {
  color: black;
}

hr {
  width: 10%;
  border: none;
  border-top: 1px solid dimgray;
  align-content: center;
  margin-top: -20px;
  margin-bottom: 20px;


}

div.paragraphe1 {
  font-size: 1.2vw;
  font-family: 'Karla';
  letter-spacing: 0.04em;

}

.paragraphe2 {
  font-size: 0.99vw;
  font-family: 'Karla';
}

mat-list-item {
  max-width: 700px;

}

@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }

  div.paragraphe1 {
    font-size: 11px;
  }

  .paragraphe2 {
    font-size: 8px;
  }

  hr {
    width: 20%;
  }
}
