<h2 class="title">education</h2>
<hr>
<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="81%" fxFlex.xs="70%" fxFlex.sm="40%">
    <mat-list>
      
        <mat-list-item *ngFor="let educ of education">

          <div mat-line>
            <div class="paragraphe1">
              {{educ.startingDate}} - {{educ.endingDate}} {{educ.universite}} {{educ.level}}
            </div>
          </div>

          <div mat-line>
            <div class="paragraphe2">
              <strong>Specialty:</strong> {{educ.speciality}} <span *ngIf="educ.mention"><strong> Mention:</strong>
                {{educ.mention}} </span>
            </div>
          </div>
        </mat-list-item>


    </mat-list>
  </div>
</div>
