.title {
  font-family: 'Karla';
  letter-spacing: 0.08em;
  font-size: 1.5vw;
  color: dimgrey;
  text-transform: uppercase;
  text-align: center;
}

hr {
  width: 8%;
  border: none;
  border-top: 1px solid dimgray;
  align-content: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

table {
  margin-left: 200px;
}

mat-card {
  width: 260px;
  height: 50px;
  opacity: 0.9;
}


h2:hover {
  color: black;
}

mat-card-title {
  font-family: 'karla';
  letter-spacing: 0.04em;
  justify-content: center;
  font-size: 16px;
}

mat-card-content {
  font-family: 'Karla';
  position: absolute;
  bottom: 0px;
  display: inline-block;
}

i {
  margin-top: 3px;
  float: right;
  color: black;
}

.icon1 {
  margin-right: -10px;
}

.icon1-git {
  margin-right: -48px;
}

.icon2 {
  margin-right: -12px;
}

.icon2-git {
  margin-right: -104px;
}

.icon3 {
  margin-right: -10px;
}

.icon3-git {
  margin-right: -98px;
}

.icon4 {
  margin-right: -10px;
}

.icon4-git {
  margin-right: -158px;
}

.icon5 {
  margin-right: -110px;
}

.icon6 {
  margin-right: -10px;
}

.icon6-git {
  margin-right: -70px;
}

.icon7 {
  margin-right: -36px;
}

.icon8 {
  margin-right: -10px;
}

.icon9 {
  margin-right: -10px;
}
