<h2 class="title">Projects</h2>
<hr>
<div class="container">
  <table>
    <tr>
      <td>
        <mat-card>
          <mat-card-title>Covid-19 Dashboard <a href="https://covid-19-by-lightj.netlify.app/" target="_blank"><i
                class="fas fa-eye icon1"></i></a></mat-card-title>
          <mat-card-content>
            <p>Technology: React JS, HTML5, CSS3 <a href="https://gitlab.com/soufienjabeur/covid19-app"
                target="_blank"><i class="fab fa-gitlab icon1-git "></i></a></p>

          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card>
          <mat-card-title>Wireless Power Transfer Using <a href="https://weatherlj.netlify.app/"><i
                class="fas fa-eye icon2"></i></a> Robot </mat-card-title>
          <mat-card-content>
            <p>Technology: Java, JBotSim <a href="https://gitlab.com/soufienjabeur/robotwirelesspowertransfer"
                target="_blank"><i class="fab fa-gitlab icon2-git"></i></a>
            </p>
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card>
          <mat-card-title>Robot survival game <a href="https://weatherlj.netlify.app/"><i
                class="fas fa-eye icon3"></i></a></mat-card-title>
          <mat-card-content>
            <p>Technology: Scala, ScalaFX <a
                href="https://gaufre.informatique.univ-paris-diderot.fr/greedisland/greedisland" target="_blank"><i
                  class="fab fa-gitlab icon3-git"></i></a>
            </p>
          </mat-card-content>
        </mat-card>
      </td>

    </tr>
    <tr>
      <td>
        <mat-card>
          <mat-card-title>Star Wars IOS game <a href="https://weatherlj.netlify.app/"><i
                class="fas fa-eye icon4"></i></a></mat-card-title>
          <mat-card-content>
            <p>Technology: Swift <a href="https://weatherlj.netlify.app/"><i class="fab fa-gitlab icon4-git"></i></a>
            </p>
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card>
          <mat-card-title>Sales App </mat-card-title>
          <mat-card-content>
            <p>Technology: Java, TCP/UP <a href="https://gitlab.com/soufienjabeur/petiteannonce" target="_blank"><i
                  class="fab fa-gitlab icon5"></i></a>
            </p>
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card>
          <mat-card-title>Books App <a href="https://weatherlj.netlify.app/"><i class="fas fa-eye icon6"></i></a>
          </mat-card-title>
          <mat-card-content>
            <p>Technology: Angular 7, FireBase <a href="https://gitlab.com/soufienjabeur/bookapp" target="_blank"><i
                  class="fab fa-gitlab icon6-git"></i></a> </p>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td>
        <mat-card>
          <mat-card-title>Implémenter KNN using Hadoop </mat-card-title>
          <mat-card-content>
            <p>Technology: Java, Maven, MapReduce <a href="https://gitlab.com/soufienjabeur/knnmapreduce"
                target="_blank"><i class="fab fa-gitlab icon7"></i></a></p>
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card>
          <mat-card-title>News App <a href="https://newapplightj.netlify.app/" target="_blank"><i
                class="fas fa-eye icon8"></i></a>
          </mat-card-title>
          <mat-card-content>
            <p>Technology: React JS, HTML5, CSS3 <a href="https://gitlab.com/soufienjabeur/newsapp" target="_blank"><i
                  class="fab fa-gitlab icon1-git "></i></a></p>
          </mat-card-content>
        </mat-card>
      </td>
      <td>

        <mat-card>
          <mat-card-title>Weather App <a href="https://weatherlj.netlify.app/" target="_blank"><i
                class="fas fa-eye icon9"></i></a>
          </mat-card-title>
          <mat-card-content>
            <p>Technology: React JS, HTML5, CSS3 <a href="https://gitlab.com/soufienjabeur/weatherapp"
                target="_blank"><i class="fab fa-gitlab icon1-git "></i></a></p>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>

  </table>

</div>
