.container {
  width: 1100px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
}

span {
  font-size: 32px;
}

p {

  margin-bottom: 50px;
  font-family: 'Karla';
  font-weight: bold;
  letter-spacing: 0.8px;
}

.btn {
  position: relative;
  float: left;
  background-color: gold;
  cursor: pointer;
  padding: 7px 36px;
  color: black;
  font-size: 16px;
  border: 1px transparent solid;
  border-radius: 4px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Karla';
  width: 150px;
  height: 50px;
}

img {

  margin-top: -100px;
  border: 1px solid transparent;
  outline: none ;
  opacity: 0.87;

}

.name {
  background-color: gold;
}
