<div class="container">
  <div>
    <div>
      <span>
        <p>Hi,</p>
        <p>I'm <span class="name">Soufien</span></p>
        <p>FullStuck Developper</p>
      </span>
    </div>
    <div>
      <a class="btn" mat-button routerLink="contactus">Contact</a>
    </div>

  </div>
  <div>
    <img src="\assets\home.PNG" />
  </div>
</div>
