<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<app-header></app-header>
<div class="container-app">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
