<div class="profil-container">
  <div class="space">
    <app-home> </app-home>
  </div>
  <div class="space">
    <app-about> </app-about>
  </div>
  <div class="space">
    <app-experience></app-experience>
  </div>
  <div class="space">
    <app-education></app-education>
  </div>
  <div class="space">
    <app-projects></app-projects>
  </div>
  <div class="space">
    <app-skills></app-skills>
  </div>
</div>
